<div class="container__form">
  <h1 class="title__create-property">Crie o seu anúncio</h1>

  <%= simple_form_for @property do |f| %>
    <%= f.input :status, label: 'Venda ou aluguel?', input_html: { class: 'input' }, label_html: { class: 'label' }, collection: %w[Venda Aluguel] %>
    <%= f.input :title, label: 'Título', input_html: { class: 'input', autocomplete: 'off' }, label_html: { class: 'label' } %>
    <%= f.input :description, label: 'Descrição', :as => :text, :input_html => { 'rows' => 12, 'cols' => 10, class: 'input', autocomplete: 'off' }, label_html: { class: 'label' } %>
    <%= f.input :area, label: 'Área', input_html: { class: 'input' }, label_html: { class: 'label' } %>
    <%= f.input :address, label: 'Endereço', input_html: { class: 'input', autocomplete: 'off' }, label_html: { class: 'label' } %>
    <%= f.input :bathrooms, label: 'Banheiros', input_html: { class: 'input' }, label_html: { class: 'label' } %>
    <%= f.input :rooms, label: 'Quartos', input_html: { class: 'input' }, label_html: { class: 'label' } %>
    <%= f.input :suites, label: 'Suítes', input_html: { class: 'input' }, label_html: { class: 'label' } %>
    <%= f.input :parking_space, label: 'Vagas', input_html: { class: 'input' }, label_html: { class: 'label' } %>
    <%= f.input :furnished, label: 'Mobiliado?', input_html: { class: 'input-furnished' }, label_html: { class: 'label' } %>
    <%= f.input :condominium, label: 'Valor do condomínio', input_html: { class: 'input' }, label_html: { class: 'label' } %>
    <%= f.input :iptu, label: 'IPTU/mês', input_html: { class: 'input' }, label_html: { class: 'label' } %>
    <%= f.input :price, label: 'Preço', input_html: { class: 'input' }, label_html: { class: 'label' } %>
    <%= f.input :building, label: 'Edifício', input_html: { class: 'input', autocomplete: 'off' }, label_html: { class: 'label' } %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, label_html: { class: 'label' } %>
    <%= f.submit 'Enviar anúncio', class: 'button__create-property', data: { disable_with: 'Aguarde...' } %>
    <% end %>

</div>
