<section class="banner">
  <h1 class="banner__title">
    <%#= link_to 'Olá', about_path, class: 'link__know-us' %>
    Casas e apartamentos para venda e locação no Tatuapé, Mooca e Vila formosa.
  </h1>
  <div class="banner__image">
  </div>
  <div class="search__bar">
    <%= form_tag properties_path, class: 'form', method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "search__bar-input",
        placeholder: "Procurar pela rua",
        autocomplete: "off"
      %>
      <%= button_tag(type: "submit", class: "search__button") do  %>
        <i class="fas fa-search search__bar-icon"></i>
      <% end %>
    <% end %>
  </div>
</section>

<section class="properties">
  <% @properties.each_with_index do |property, index| %>
    <div class="properties__card">
      <%= link_to property do %>
        <div id= <%= "carouselExampleControls#{index}" %>  class="carousel slide" data-bs-interval="false">
          <div class="carousel-inner properties__card-image">
            <% property.photos.each_with_index do |photo, index| %>
              <div class="carousel-item carousel-item-index container__image <%= index == 0 ? 'active' : '' %>">
                <%= cl_image_tag photo.key, class: "properties__card-image" %>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target=<%= "#carouselExampleControls#{index}" %> data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target=<%= "#carouselExampleControls#{index}" %> data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      <% end %>
        <div class="properties__information">
          <p class="properties__information-title"><%= property.title %></p>
          <p class="properties__information-address"><%= property.address %></p>
          <% if property.status == 'Venda' %>
            <span class="properties__information-price"><%= number_to_currency(property.price, unit: 'R$', separator: ',', delimiter: '.') %></span>
          <% else %>
            <span class="properties__information-price">Aluguel <%= number_to_currency(property.price, unit: 'R$', separator: ',', delimiter: '.') %></span>
          <% end %>
        </div>
        <div class="properties__room-container">
          <ul class="properties__rooms">
            <li><%= property.area.to_i %>m²</li>
            <li><%= property.rooms %> quartos</li>
            <li><%= property.bathrooms %> banheiros</li>
            <li><%= property.parking_space %> vagas</li>
          </ul>
        </div>
    </div>
  <% end %>
  <%== pagy_bootstrap_nav(@pagy) %>
</section>

<% if user_signed_in? %>
  <%= link_to new_property_path do %>
  <button class="button__create-property-index"><i class="fas fa-plus button__create-property-index-icon"></i><span class="button__create-property-index-word">Anunciar</span></button>
  <% end %>
<% end %>
