<section class="banner">
  <h1 class="banner__title">
    <%= link_to 'Nos conheça melhor', about_path, class: 'link__know-us' %>

  </h1>
  <div class="search__bar">
    <%= form_tag properties_path, class: 'form', method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "search__bar-input",
        placeholder: "Encontre sua próxima casa"
      %>
      <%= button_tag(type: "submit", class: "search__button") do  %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>
</section>
<div class="intro">
  <h2 class="intro__title">Imóveis para você</h2>
  <i class="fas fa-filter intro__icon"></i>
</div>

<section class="properties">
  <% @properties.each_with_index do |property, index| %>
    <div class="properties__card">
      <%= link_to property do %>
        <div id= <%= "carouselExampleControls#{index}" %>  class="carousel slide" data-bs-interval="false">
          <div class="carousel-inner">
            <% property.photos.each_with_index do |photo, index| %>
              <div class="carousel-item carousel-item-index <%= index == 0 ? 'active' : '' %>">
                <%= cl_image_tag photo.key, height: 200, class: "w-100" %>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target=<%= "#carouselExampleControls#{index}" %> data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target=<%= "#carouselExampleControls#{index}" %> data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      <% end %>
        <div class="properties__information">
          <p class="properties__information-title"><%= property.title %></p>
          <span class="properties__information-price"><%= number_to_currency(property.price, unit: 'R$', separator: ',', delimiter: '.') %></span>
        </div>
        <div class="properties__room-container">
          <ul class="properties__rooms">
            <li><%= property.area.to_i %>m²</li>
            <li><%= property.rooms %> quarto</li>
            <li><%= property.bathrooms %> banheiro</li>
            <li><%= property.parking_space %> vagas</li>
          </ul>
        </div>
    </div>
  <% end %>
</section>

<% if user_signed_in? %>
  <%= link_to new_property_path do %>
  <button class="button__create-property-index"><i class="fas fa-plus button__create-property-index-icon"></i><span class="button__create-property-index-word">Anunciar</span></button>
  <% end %>
<% end %>
