<div class="search__bar">
  <i class="fas fa-search" class="search__bar-icon"></i>
  <input type="text" placeholder="Search.." class="search__bar-input">
</div>
<section class="buttons">
  <div class="buttons__buy">
    <h2 class="buttons__buy-title">Comprar</h2>
    <img class="buttons__buy-image" src="../../assets/images/comprar.svg" alt="Pessoa caminhando em frente a uma casa com árvores ao fundo">
  </div>
  <div class="buttons__rent">
    <h2 class="buttons__rent-title">Alugar</h2>
    <img class="buttons__rent-image" src="../../assets/images/alugar.svg" alt="Pessoa escolhendo entre duas casas">
  </div>
</section>
<div class="intro">
  <h2 class="intro__title">Imóveis para você</h2>
  <i class="fas fa-filter intro__icon"></i>
</div>

<section class="properties">
  <div class="properties__card" style="width: 100%; height: 300px">
    <img class="properties__card-image" src="https://images.unsplash.com/photo-1622866306511-031a51990642?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YXBhcnRhbWVudHxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60" alt="Apartamento" style="width: 100%; height: 100%">
    <p class="properties__card-title"><%= @properties.first.title %></p>
    <span class="properties__card-price"><%= @properties.first.price %></span>
    <div class="properties__icons">
      <i class="fas fa-bed properties__icons-room"></i><%= @properties.first.rooms %>
      <i class="fas fa-bath properties__icons-bathroom"></i><%= @properties.first.bathrooms %>
      <i class="fas fa-car properties__icons-parking"></i><%= @properties.first.parking_space %>
    </div>
  </div>
</section>
