<div class="search__bar-my">
    <%= form_tag my_properties_properties_path, class: 'form__my', method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "search__bar-my-input",
        placeholder: "Procurar pelo código",
        autocomplete: "off"
      %>
    <% end %>
</div>
  <section class="container__cards">
<% @properties.each do |property| %>
    <div class="card">
      <span class="card__code">Cod <%= property.id %></span>
      <div class="card__container">
      <%= link_to property, class: 'card__container-img-link' do %>
          <%= cl_image_tag property.photos.first, class:'card__container-img' %>
      <% end %>
        <div class="card__container-buttons">
          <div class="button__edit-link">
            <%= link_to edit_property_path(property.id), class: 'button__edit-link-title' do %>
              <button class="button__edit"><i class="far fa-edit card__container-icon-edit"></i><span class="button__edit-link-text">Editar</span></button>
            <% end %>
          </div>
          <div class="button__delete-link">
            <%= link_to property_path(property), method: :delete, data: { confirm: 'Deseja excluir o anúncio?' }, class: 'button__delete-link-title' do %>
              <button class="card__container-buttons-delete"><i class="far fa-trash-alt card__container-icon-delete"></i><span class="button__delete-link-text">Excluir</span></button>
            <% end %>
          </div>
        </div>
      </div>
      <span><%= property.title %></span>
      <span><%= property.address %></span>
    </div>
    <% end %>
</section>
