<section class="container__property">
  <div class="properties__card">
    <span class="properties__card-code">Cod - <%= @property.id %></span>
    <%= cl_image_tag @property.photos.first.key, class: "properties__card-image" %>
    <p class="properties__card-title"><%= @property.title %></p>
  </div>
  <div class="values">
    <div class="values__description">
      <span class="values__description-title">Valor</span>
      <h2 class="values__description-price"><%= number_to_currency(@property.price, unit: 'R$', separator: ',', delimiter: '.') %></h2>
    </div>
    <table class="values__table">
      <tr>
        <td class="values__table-iptu-title">IPTU</td>
        <td class="values__table-iptu-value"><%= number_to_currency(@property.iptu, unit: 'R$', separator: ',', delimiter: '.') %></td>
      </tr>
      <tr>
        <td class="values__table-condominium-title">Condomínio</td>
        <td class="values__table-condominium-value"><%= number_to_currency(@property.condominium, unit: 'R$', separator: ',', delimiter: '.') %></td>
      </tr>
    </table>
  </div>
  <div class="information">
    <h2 class="information__title">Conheça mais</h2>
    <p class="information__description"><%= @property.description %> </p>
  </div>
  <ul class="rooms">
    <li class="rooms__area"><%= @property.area.to_i %>m²</li>
    <li class="rooms__rooms"><%= @property.rooms %> quartos</li>
    <li class="rooms__bathrooms"><%= @property.bathrooms %> banheiros</li>
    <li class="rooms__parking-space"><%= @property.parking_space %> vagas</li>
  </ul>
  <div class="map">
    <h2 class="map__title">Localização</h2>
  </div>
  <div class="visit">
    <h2 class="visit__title">Gostou do imóvel? Agende uma visita</h2>
    <%= image_tag "agendar-visita.svg", class: "visit__image" %>
    <button class="visit__button">Agende uma visita</button>
  </div>
</section>
